/* GENERAL STYLES */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
* {
  box-sizing: border-box;
  text-align: center;
  margin-top: 40px;
  color: #f1c40f;
  background-color: #008080;
}

/* CONTAINER */

.container {
  margin: auto;
	max-width: 700px;
}

/*

Kasia@Kasia-Komputer MINGW64 /c/Kodilla/Exercise1 (master)
$ git tree
* 39e8bfe (HEAD -> master, tag: task-3-finished, origin/master, origin/HEAD) Complete style
* d89928d Add footer
* 7154cc8 Add third verse
* b949880 "Add p/second verse"
* cf0465e Add p/first verse
* 2bcfe72 Add tittle & header
* cd2e31f Add html css
* 1a2cd2c Initial commit

Nie widzę tagu.
 */
